<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__company">
        <a class="logo" href="#">
          <img class="logo__img" src="./img/logo.png" alt="logo" />
        </a>
        <div class="company-name">healthy dogs</div>
      </div>
      <div class="burger-menu" data-menu-button>
        <span class="burger-menu__line"></span>
      </div>
      <nav class="menu" data-menu>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">shop for dog</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">shop for cat</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">our story</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>