<section class="ingredients">
  <div class="container">
    <div class="ingredients__inner">
      <div class="ingredients__header">
        <h3 class="ingredients__suptitle">our no. 1 ingredient:</h3>
        <h2 class="ingredients__title">real chicken & egg</h2>
      </div>
      <div class="ingredients__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sunt autem id a, expedita sint debitis beatae eius quisquam laborum facere non, numquam iste velit ipsa pariatur delectus excepturi consequatur libero alias at nemo illum? Tempora perspiciatis nam vero alias ipsam, voluptatem minus omnis in minima voluptates! Ratione, cumque minima.</p>
      </div>
    </div>
  </div>
</section>