<section class="intro">
  <div class="intro__wrapper">
    <div class="container">
      <div class="intro__inner">
        <div class="intro__body">
          <h1 class="intro__title">help your dog maintain a <span>healthier weight </span>with</h1>
          <div class="intro__content">
            <h3 class="intro__subtitle">100% organic pet food</h3>
            <img class="intro__decor" src="./img/intro/decor.png" alt="decor">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__column">
    <img class="intro__dog" src="./img/intro/dog.png" alt="dog">
  </div>
  <img class="intro__food" src="./img/intro/food-package.png" alt="food"/>
</section>