<section class="learn-more">
  <div class="container">
    <div class="learn-more__inner">
      <div class="learn-more__row">
        <div class="learn-more__column">
          <h4 class="learn-more__title">learn more about dog breeds</h4>
          <div class="input-form">
            <input class="input-form__input" type="text" placeholder="Search breeds">
            <svg class="input-icon">
              <use xlink:href="#search"></use>
            </svg>
          </div>
          <a class="main-button" href="#">view all dog breeds</a>
        </div>
        <div class="learn-more__dog">
          <img class="learn-more__img" src="./img/learn-more/dog.png" alt="dog">
        </div>
        <div class="learn-more__column">
          <h4 class="learn-more__title">thinking of getting a dog?</h4>
          <div class="learn-more__text">
            <p>There are many things you need to know before getting a dog</p>
          </div>
          <a class="main-button" href="#">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>