<section class="perfect-life">
  <div class="container">
    <div class="perfect-life__inner">
      <div class="perfect-life__row">
        <div class="perfect-life__content">
          <h3 class="perfect-life__title">the perfect start to life</h3>
          <div class="perfect-life__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptates eum rem tenetur, animi harum ipsam nobis nemo eveniet est voluptas aspernatur accusamus iusto minima consequatur a, cum modi nulla?</p>
          </div>
          <a class="main-button" href="#">learn more</a>
        </div>
        <div class="perfect-life__column">
          <img class="perfect-life__dog" src="./img/perfect-life/dog.png" alt="dog">
        </div>
      </div>
    </div>
  </div>
</section>