<section class="right-food">
  <div class="container">
    <div class="right-food__inner">
      <div class="right-food__row">
        <div class="right-food__column">
          <img class="right-food__img" src="./img/right-food/food-package.png" alt="food">
        </div>
        <div class="right-food__content">
          <h3 class="right-food__title">find the right food for your dog</h3>
          <div class="right-food__text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, cum reprehenderit officia quod quam tempora ducimus nobis, modi omnis eius eaque doloribus tempore deleniti iste corrupti necessitatibus maxime inventore veniam.</p>
          </div>
          <a class="main-button" href="#">view all products</a>
        </div>
      </div>
    </div>
  </div>
</section>