<section class="story">
  <div class="container">
    <div class="story__inner">
      <div class="story__row">
        <div class="story__column">
          <h2 class="story__title">our <span>Story</span></h2>
        </div>
        <div class="story__column">
          <div class="story__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maxime, labore sint nostrum dignissimos ducimus enim, cumque fuga amet eum, et minus nihil modi molestiae itaque consectetur. Magni, blanditiis dicta.</p>
          </div>
          <a class="story__link" href="#">read more</a>
        </div>
        <div class="story__column">
          <img class="story__product" src="./img/story/food-package.png" alt="food">
        </div>
      </div>
    </div>
  </div>
  <img class="story__dog" src="./img/story/dog.png" alt="dog"/>
</section>