$amatic-font: 'Amatic SC', cursive;
$gray-brown: #3D3D3D;
$white: #fff;
$azure-gray: #0072a8;
$azure-craiola: #2EA2D0;
$dark-purple: #452A31;
$black: #000;
$gray: #F0F0F0;
$dark-gray: #7F7F7F;
$yellow: #FFCE3A;